@import '../../index.scss';
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-23px);
  @include mq(1024px) {
    flex-direction: column;
    transform: translateX(0px);
  }
  .left {
    position: relative;
    transform: translate(129px, 48px);
    max-width: 635px;
    flex-basis: 47.5%;
    width: 100%;
    z-index: 1;
    @include mq(1024px) {
      transform: translate(0px, 0px);
    }
    .quotes {
      position: absolute;
      left: 96px;
      bottom: 257px;
      @include mq(1024px) {
        font-size: 18px;
        line-height: 24px;
        width: 60px;
        height: 50px;
        left: 50%;
        top: -26px;
        transform: translateX(-50%);
      }
    }
    .testimonial {
      font-family: 'Inter';
      font-weight: 300;
      font-size: 32px;
      line-height: 44px;
      color: #202047;

      margin-bottom: 32px;
      z-index: 99;
      @include mq(1024px) {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 18px;
      }
    }
  }

  .figure {
    @include mq(1024px) {
      order: -1;
      padding-left: 40px;
      padding-top: 31px;
      padding-bottom: 54px;
      padding-right: 36px;
      margin-bottom: 30px;
    }
    padding-left: 66px;
    padding-top: 68px;
    padding-bottom: 49px;
    padding-right: 91px;
    flex-basis: 52.5%;
    max-width: 697px;
    // .user {
    //   margin-top: 68px;
    //   margin-left: 71px;
    // }
    position: relative;
    background-image: url(../../assets/pattern-bg.svg);
    background-repeat: no-repeat;

    background-size: contain;

    .user {
      background: #ebebeb;
      box-shadow: 0px 40px 50px -30px rgba(36, 36, 113, 0.495001);
      border-radius: 5px;
    }

    .bg {
      position: absolute;
      max-width: none;
      z-index: -1;
      right: -87px;
      bottom: -51px;
    }

    .buttons {
      position: absolute;
      left: 127px;
      bottom: 23px;
      background: #ffffff;
      box-shadow: 0px 15px 20px -10px rgba(36, 36, 113, 0.0991313);
      border-radius: 28px;
      width: 112px;
      height: 56px;
      display: flex;
      justify-content: center;
      // gap: 48px;
      @include mq(1024px) {
        width: 80px;
        height: 40px;
        bottom: 33px;
        left: 50%;
        transform: translateX(-50%);
      }
      .lbutton,
      .rbutton {
        background: transparent;
        width: 100%;
        cursor: pointer;
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:active {
          transform: scale(0.9);
          // transform: translate(1px, 1px);
        }
      }
    }
  }
  .position {
    display: flex;
    flex-direction: row;
    gap: 5px;
    @include mq(1024px) {
      flex-direction: column;
      justify-content: center;
      gap: 0px;
    }
    .title {
      font-weight: 700;
      font-size: 20px;
      line-height: 38px;
      color: #202047;
      @include mq(1024px) {
        font-size: 15px;
        line-height: 20px;
        text-align: center;
      }
    }
    .subTitle {
      font-weight: 500;
      font-size: 20px;
      line-height: 38px;
      color: #b9b9ce;
      margin-left: 5px;
      @include mq(1024px) {
        font-size: 15px;
        line-height: 20px;
        text-align: center;
      }
    }
  }
}
